<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.small_gongjeon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmallGongjeon"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Main"
            android:exported="true" />

        <activity android:name=".Thumbnail"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".MyProfile4_inquiry"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".MyProfile3_guide"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".MyProfile2_notice"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".MyProfile1_main"
            android:exported="true" />
        <activity
            android:name=".Friend3_request"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Friend2_AddFriend"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Friend1_main"
            android:exported="true" />
        <activity
            android:name=".Group4_InviteMember"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Group2_AddGroup"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Group3_GroupInfo"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Group1_main"
            android:exported="true" />
        <activity
            android:name=".Alarm2_PlusAlarm"
            android:exported="true"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Alarm1_main"
            android:exported="true" />
        <activity
            android:name=".Login2_SignUp"
            android:exported="true" />
        <activity
            android:name=".Login1_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Group5_GroupMember"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".Group6_AddGroupImage"
            android:theme="@style/Theme.SmallGongjeon." />
        <activity
            android:name=".MyProfile5_AddProfileImage"
            android:theme="@style/Theme.SmallGongjeon."/>
    </application>

</manifest>